<div class="navbar bg-base-100 shadow-md border-t-yellow-500 border-t-4 sticky top-0 z-50">
  <div class="flex-1">
    <a routerLink="/">
      <img src="../../../../assets/postikko-yellow.png" alt="postikko logo" class="w-44 px-2 py-1">
    </a>
  </div>
  <div class="flex-none gap-3">
    <a class="btn" routerLink="/dashboard/create" >
        Create
    </a>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://placeimg.com/80/80/people" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>
